body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 1rem;
}

@media only screen and (max-width: 500px) {
	body {
		font-size: 1.25rem;
	}

	button  {
		font-size: 1.25rem;
	}	
}